<h1><%=User.find_by(id: @sub.user_id).username%>'s Sub</h1>
    <label>Title:
        <%= @sub.title%>
    </label>
    <br>
    <label>Description:
        <%= @sub.description%>
    </label>
    <br>
    <label>Moderator:
        <%=User.find_by(id: @sub.user_id).username%>
    </label>
